@font-face {
  font-family: RideTo;
  src: url("https://d35oev165hap4m.cloudfront.net/static/bundles/fonts/35ADE9_0_0.woff2");
}
@font-face {
  font-family: Proxima;
  src: url("https://d35oev165hap4m.cloudfront.net/static/bundles/fonts/ProximaNovaAltRegular-webfont.woff");
}

.App {
  display: flex;
  flex-direction: column;
  font-family: Proxima, serif;
  background: url("https://d35oev165hap4m.cloudfront.net/static/bundles/img/black/9d2dccf29a066959a7d211782da9ead2.png");
  background-size: cover;
  background-repeat: repeat-y;
  width: 100%;
}
.App a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
.App h1 {
  font-weight: bold;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: RideTo, serif;
  padding-bottom: 0.8rem;
  letter-spacing: 0.1rem;
}
.App p {
  font-size: 1.4rem;
}
.App nav {
  background-color: black;
  display: flex;
  align-items: center;
  height: 8rem;
}
.App nav ul {
  display: flex;
  justify-content: space-around;
  font-family: RideTo, Helvetica, serif;
}
.App nav ul li {
  padding-right: 2rem;
}
.App img {
  width: 170px;
  height: 60px;
}
