.list-item  {
    display: flex;
    padding: 3rem;
    border-top: 5px solid #343a40;
    justify-content: flex-start;
}

.list-image {
    min-width: 14rem;
    max-width: 14rem;
    max-height: 14rem;
    min-height:  14rem;
    flex-basis: auto; /* default value */
    flex-grow: 1;
    background-color:#fff6fe;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 2.4rem;
}

.list-item h1 {
    color: #20c997;
}
.list-item p {
    color: #6c757d;
}
